html {
    font-size: 17px;
    scroll-behavior: smooth;
    text-align: center;
}

h1 {
    color: white;
    background-color: teal;
    text-align: center;
    font-style: oblique;
    margin: 1px;
    font-size: 2.5rem;
}

body {
    font-family: 'montserrat', sans-serif, Verdana, Tahoma;
    /* background-color: lightgoldenrodyellow; */
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}

nav {
    background-color: black;
    overflow: hidden;
}

nav a:hover {
    color: tomato;
}

nav a:visited {
    color: royalblue;
}
/* 
.tes {
    display: inline-block;
}

.tes-s {
    display: inline-block;
}

.tes-e {
    display: inline-block;
} */
.c{
	display: inline-block;
	width: 50%;
	height: 100%;
	
}
.c img{
    border-radius: 70%;
	height: 25rem;
	width: 25rem;
	
}
#pp{
	width: 65%;
	height: 90px;
	white-space: nowrap;
}
/* }
section{
    width: 100%;
    height: 75vh;
    display: contents;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: lightgoldenrodyellow;
}
section:nth-child(2n+1){
    background-color: #046151dc;
} */